.prodact {
   display: flex;
   border-bottom: 1px solid #dddddd;
   padding: 10px 0;
}

.product-content {
   padding: 0 10px;
}

.product-name {
   color: #1313df;
   font-weight: 500;
}

.cart-btn {
   background-color: goldenrod;
   padding: 8px 15px;
   border: 1px solid #686868;
   border-radius: 5px;
   cursor: pointer;
}
