a {
  text-decoration: none;
}

.header {
  text-align: center;
}
.header img {
  height: 80px;
}

.navbar {
  background-color: #000000;
  text-align: left;
  margin-top: 10px;
}
.navbar a {
  color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
}
.navbar a:hover {
  background-color: #444444;
}
