body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    max-width: 1170px;
    padding: 0 10px;
    margin: 20px auto;
}

.btn {
    padding: 8px 15px;
    cursor: pointer;
}

.From input {
    padding: 5px 15px;
    margin-top: 5px;
}
